<div class="dropdown d-block d-md-none">
	<button class="btn dropdown-toggle text-start text-grey-dark chevron-grey-dark pl-2 ml-n2 pr-4 py-0 px-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		<span class="h1">{{ program.name }}</span>
	</button>
	<ul class="dropdown-menu px-3 py-2">
		{% for s in sections %}
			<li class="list-group list-group-menu list-group-xs mb-6">
				<nav aria-label="{{ s.name }}">
					<header>
						<a href="{{ path('courses_section', {'program_slug': s.program.slug,'slug': s.slug}) }}">
							<h2 class="h4 text-md mb-2">{{ s.name }}</h2>
						</a>
					</header>
					<ol class="pl-0 mb-0 list-unstyled">
						{% for course in s.courses %}
							{% set set_twig = 'd-none' %}
							{% set set_audio = 'd-none' %}
							{% set set_quiz = 'd-none' %}
							{% set set_link = 'd-none' %}

							{% if course.contentType == constant('App\\Entity\\Courses::TYPE_TWIG') %}
								{% set set_twig = '' %}
							{% elseif course.contentType == constant('App\\Entity\\Courses::TYPE_AUDIO') %}
								{% set set_audio = '' %}
							{% elseif course.contentType == constant('App\\Entity\\Courses::TYPE_QUIZ') %}
								{% set set_quiz = '' %}
							{% elseif course.contentType == constant('App\\Entity\\Courses::TYPE_LINK') %}
								{% set set_link = '' %}
							{% endif %}

							{% set set_status = "" %}
							{% set set_visible = "" %}
							{% set set_underline = "" %}
							{% for l in lessons|filter(l => l.name == course.name and l.status == "DONE") %}
								{% set set_status = 'd-none' %}
								{% set set_visible = '' %}
								{% set set_underline = 'text-decoration-line-through' %}
							{% else %}
								{% set set_status = '' %}
								{% set set_visible = 'd-none' %}
								{% set set_underline = '' %}
							{% endfor %}
							<li>
								<a href="{{ path('courses_show', {'program_slug': course.program.slug, 'section_slug': course.section.slug, 'slug': course.slug}) }}" class="list-group-item list-group-item-action">
									<div class="list-group-icon {{ set_twig }} {{ set_status }} completed">
										{% include "partials/buttons/_play_svg.html.twig" %}
									</div>
									<div class="list-group-icon {{ set_audio }} {{ set_status }} completed">
										{% include "partials/buttons/_audio_svg.html.twig" %}
									</div>
									<div class="list-group-icon {{ set_quiz }} {{ set_status }} completed">
										{% include "partials/buttons/_quiz_svg.html.twig" %}
									</div>
									<div class="list-group-icon {{ set_link }} {{ set_status }} completed">
										{% include "partials/buttons/_three_lines_svg.html.twig" %}
									</div>
									<div class="list-group-icon {{ set_visible }}">
										{% include "partials/buttons/_check_svg.html.twig" %}
									</div>
									{{ course.name }}
								</a>
							</li>
						{% endfor %}
					</ol>
				</nav>
			</li>
		{% endfor %}
	</ul>
</div>
